.vs/
*/bin/*
*/obj/*
DiplomApp/DiplomApp.Droid/obj/
DiplomApp/DiplomApp.UWP/obj/
DiplomApp/DiplomApp.iOS/bin/
DiplomApp/DiplomApp.iOS/obj/
DiplomApp/DiplomApp/bin/
DiplomApp/DiplomApp/obj/
packages/
images/
DiplomApp/DiplomApp.Windows/obj/Release/XamlSaveStateFile.xml
DiplomApp/DiplomApp.Windows/obj/x64/Release/MainPage.g.i.cs
DiplomApp/DiplomApp.Windows/obj/x64/Release/MainPage.g.cs
DiplomApp/DiplomApp.Windows/obj/
DiplomApp/DiplomApp.Windows/bin/
DiplomApp/DiplomApp.WinPhone/obj/
DiplomApp/DiplomApp.WinPhone/bin/
DiplomApp/DiplomApp.UWP/bin/
DiplomApp/DiplomApp.UWP/AppPackages/
DiplomApp/DiplomApp.Droid/bin/
*.apk
